.submitBTN {
    margin-top: 20px;
    opacity: 0;
}

.boxchar {
    height: 300px;
    width: 310px;
    float: left;
    overflow: auto;
    border-radius: 8px;
    line-height: 1.5;

}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }

body {
    background-image: url("../images/city_lights.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brand-logo {
    margin-left: 20px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
}

.teamImg {
    border: 1px solid rgb(175, 171, 171);
    margin-top: 30px;
    color: white;
    height: 750px;
    padding: 20px;
}

#teamText {
    margin-left: 10px;
}

.pic {
    padding-right: 30px;
    width: 250px;
    height: 250px;
}

.pic1 {
    margin-left: 10px;
}

.carousel .carousel-item {
    width: 400px;
    margin-top: 0px;
}

.text {
    text-align: center;
    color: white;
}

.material-icons {
    padding-top: 30px;
}

#locationSearch, #eventSearch {
    color: white;
}

.card-content {
    height: 3.6em;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* img {
    height: 150px;
} */