.submitBTN {
    margin-top: 20px;
    opacity: 0;
}

.eventImg {
    width: 150px;
    height: 150px;
    align-content: center;
    margin-bottom: 10px;
}

.boxsize {
    width: 45%
}

/* .userInput {
    margin-top: 100px;
} */

body {
    background-image: url("../images/city_lights.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brand-logo {
    margin-left: 20px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
}

.teamImg {
    border: 1px solid rgb(175, 171, 171);
    margin-top: 30px;
    color: white;
    height: 750px;
    padding: 20px;
}

.pic {
    padding-right: 30px;
    width: 250px;
    height: 250px;
}
.pic1 {
    margin-left: 80px;
}

.carousel .carousel-item {
    width:400px;
    margin-top:0px;
}

.text {
    text-align: center;
    color: white;
    font-size: 40px;
}

.material-icons{
    padding-top: 30px;
}

/* .card-1,
.card-2,
.card-3{
    padding:20px;
} */

img{
    height: 150px;
}

/* .card-content{
    display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  -o-text-overflow: ellipsis;
} */

/* .card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  } */
/* 
  .card-content {
    display: ;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  } */

  .card-content {
    height: 3.6em; /* exactly three lines */
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  }